.main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
    width: 750px;
    max-width: 750px;
    background-color: rgb(255, 252, 242);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgb(224, 224, 224);
}

.friends-list {
    margin-right: 0.5rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 232, 205);
}

.friends-list__list > :not(:last-child) {
    margin-bottom: 0.75rem;
}

.friends-list__list > :last-child {
    margin-bottom: 1.5rem;
}

.friends-list__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
}

.friend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.friend:hover {
    background-color: rgb(224, 224, 224);
}

.friend--active {
    background-color: rgb(224, 224, 224);
}

.friend-avatar {
    flex: 0 0 45px;
    margin-right: 1rem;
}

.friend-avatar-image {
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.friend-avatar img {
    min-width: 45px;
    max-width: 45px;
    max-height: 45px;
    display: block;
}

.friend-name {
    flex: 1;
    min-width: 12rem;
    margin-right: 1rem;
}

.friend-balance--red {
    color: red;
}

.friend-balance--green {
    color: green;
}

.bill-panel {
    flex: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 232, 205);
}

.bill-panel--hidden {
    flex: 1;
}

.bill-panel-title {
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
}

.form-label {
    flex: 2;
}

.form-label--friend {
    flex: 0.5;
}

.form-input {
    flex: 1;
    min-width: 0;
}

.form-button {
    width: 100%;
    margin-top: 1rem;
}

.form-button button {
    width: 100%;
}

.form-error {
    text-align: center;
    color: red;
}

.add-friend {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(253, 206, 152);
}

.btn {
    min-width: 4rem;
    padding: 0.5rem 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(64, 64, 255);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: rgb(94, 94, 255);
}