.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
    margin: 0 1rem;
    max-width: 450px;
    border-radius: 0.5rem;
}

.friends-list {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--panel-color);
    font-size: 1.125rem;
}

.friends-list__list > :not(:last-child) {
    margin-bottom: 0.75rem;
}

.friends-list__list > :last-child {
    margin-bottom: 1.5rem;
}

.friends-list__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
}

.friend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.25rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.friend:hover {
    background-color: var(--friend-color--hover);
}

.friend--active {
    background-color: var(--friend-color--hover);
}

.friend-avatar {
    flex: 0 0 48px;
    margin-right: 1rem;
}

.friend-avatar-image {
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.friend-avatar img {
    min-width: 48px;
    max-width: 48px;
    max-height: 48px;
    display: block;
}

.friend-info {
    flex: 1;
    /* min-width: 12rem; */
    margin-right: 1rem;
}

.friend-name {
    font-weight: bold;
}

.friend-balance {
    color: var(--secondary-text-color);
}

.friend-balance--red {
    color: var(--negative-balance-color);
}

.friend-balance--green {
    color: var(--positive-balance-color);
}

.friend-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend-remove-icon {
    margin-left: 0.25rem;
    color: var(--negative-balance-color);
    font-size: 1.75rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.friend-remove-icon:hover {
    scale: 1.1;
}

.bill-panel {
    flex: 1;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--panel-color);
}

.bill-panel--hidden {
    flex: 1;
}

.bill-panel-title {
    margin-bottom: 1.5rem;
    text-align: center;
}

.form {
    font-size: 1.125rem;
}

.form-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
}

.form-label {
    flex: 2;
    color: var(--secondary-text-color);
}

.form-label--friend {
    flex: 0.5;
}

.form-input {
    flex: 1;
    min-width: 0;
    outline: none;
    border: 0.125rem solid var(--background-color);
    border-radius: 0.25rem;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-size: 1rem;
}

.form-input:focus {
    border-color: var(--button-background-color);
}

.form-button {
    width: 100%;
    margin-top: 1rem;
}

.form-button button {
    width: 100%;
}

.form-error {
    text-align: center;
    color: var(--negative-balance-color);
}

.add-friend {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(---panel-color);
}

.btn {
    min-width: 4rem;
    padding: 0.5rem 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--button-background-color);
    color: var(--primary-text-color);
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--button-background-color--hover);
}

@media screen and (min-width: 52em) {
    .main {
        flex-direction: row;
        width: 850px;
        max-width: 850px;
    }

    .friends-list {
        width: auto;
        margin-bottom: 0;
        margin-right: 0.5rem;
    }

    .bill-panel {
        width: auto;
    }
}